<h1>Login</h1>

<%= form_for @user do |user| %>
  <%= user.label :name %>
  <%= user.text_field :name %><br>
  <%= user.label :password %>
  <%= user.password_field :password %><br>

  <%= user.submit %>
<% end %>