<h1>Sign up</h1>

<%= form_for @user do |user| %>
  <%= user.label :name %>
  <%= user.text_field :name %><br>
  <%= user.label :password %>
  <%= user.password_field :password %><br>
  <%= user.label :password_confirmation %>
  <%= user.password_field :password_confirmation %><br>
  <%= user.submit %>
<% end %>